// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img-share{
   width: 90px;
   height: 90px;
  background-color:#59a04b;
}
.img-html5{
  width:90px;
  height: 90px;
  background-color:#e54b26;
}
.img-upload{
  width: 90px;
  height: 90px;
  background-color:#0092be;
}
